name: Clean build artifacts
on:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-22.04
  workflow_dispatch:
      contents: none
    steps:
      - name: Delete artifacts in cron job
        env:
          GH_ACTIONS_REPO_TOKEN: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
        run: |
          echo "Running clean build artifacts logic"
          output=$(curl -X GET -H "Authorization: token $GH_ACTIONS_REPO_TOKEN" https://api.github.com/repos/spring-projects/spring-security/actions/artifacts | grep '"id"' | cut -d : -f2 | sed 's/,*$//g')
  workflow_dispatch:
          for id in $output; do curl -X DELETE -H "Authorization: token $GH_ACTIONS_REPO_TOKEN" https://api.github.com/repos/spring-projects/spring-security/actions/artifacts/$id; done;
  workflow_dispatch:
