name: CI

on:
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_SECRET_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_SECRET_ACCESS_KEY }}
  COMMIT_OWNER: ${{ github.event.pusher.name }}
  COMMIT_SHA: ${{ github.sha }}
  STRUCTURE101_LICENSEID: ${{ secrets.STRUCTURE101_LICENSEID }}
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

permissions:
  contents: read

jobs:
  prerequisites:
    name: Pre-requisites for building
    runs-on: ubuntu-22.04
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
          version=$(cat gradle.properties | grep "version=" | awk -F'=' '{print $2}')
          echo "project_version=$version" >>$GITHUB_OUTPUT
  build_jdk_17:
    name: Build JDK 17
    needs: [prerequisites]
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
          GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_SECRET_ACCESS_KEY }}
        run: ./gradlew clean build --continue -PartifactoryUsername="$ARTIFACTORY_USERNAME" -PartifactoryPassword="$ARTIFACTORY_PASSWORD"
      - name: Upload Maven build artifacts
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: built-jars
          path: '**/spring-security-oauth2-client-6.1.3+sp1.jar'
  snapshot_tests:
    name: Test against snapshots
    needs: [prerequisites]
    runs-on: ubuntu-22.04
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
    needs: [prerequisites]
    runs-on: ubuntu-22.04
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual trigger
      - main
      - master
          export GRADLE_ENTERPRISE_ACCESS_KEY="$GRADLE_ENTERPRISE_SECRET_ACCESS_KEY"
          ./gradlew publishMavenJavaPublicationToLocalRepository
          ./gradlew cloneSamples -PcloneOutputDirectory="$SAMPLES_DIR"
          ./gradlew --project-dir "$SAMPLES_DIR" --init-script spring-security-ci.gradle -PlocalRepositoryPath="$LOCAL_REPOSITORY_PATH" -PspringSecurityVersion="$VERSION" -PartifactoryUsername="$ARTIFACTORY_USERNAME" -PartifactoryPassword="$ARTIFACTORY_PASSWORD" :runAllTests